html,
body {
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  font-size: 1em;
}

body {
  width: 360px;
  height: 500px;
  align-items: center;
  justify-content: center;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
