.empty-state-container {
  flex: 1;
  gap: 12px;
  width: 100%;
  font-size: 13px;
  line-height: 1.3;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0px 24px 40px;

  svg {
    width: 180px;
    height: max-content;
  }

  .title {
    font-size: 14px;
    color: var(--body-text);
  }

  p {
    color: rgba($color: #232323, $alpha: 0.5);
  }
}
