$grey: #999;
$white: #fff;
$black: #000;
$gray: #7c7c7c;
$dark-bg: #101010;
$light-gray: #bbb;
$details-bg: #1d1d1d;

$content-w: 1440px;
$hor-padding: 40px;

$border-1: 1px solid #aaa;
$border-2: 1px solid #e4e4e4;

$font-sans: Suisse, sans-serif;
// $font-sans: Satoshi, sans-serif;

$z-indexes: ("preloader", "nav", "content");
